services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: org_api
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 3s
      timeout: 5s
      retries: 5

  api:
    build: .
    ports:
      - "8001:8000"   # хост:контейнер (8001 если 8000 занят)
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/org_api
      LOG_LEVEL: INFO
    depends_on:
      db:
        condition: service_healthy

volumes:
  pgdata:
